/* Calendar */
div#table {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;

  div.calendar-controls {
    margin: 5px auto;
    display: table;
    font-size: 25px;
    line-height: 35px;

    div {
      display: inline;
    }

    // year displayed in calendar controls
    .current-year {
      margin: 0 30px;
    }

    // buttons for switching year
    .control {
      font-weight: bolder;
      color: #323232;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  table.calendar {
    border: 3px solid #2a2a2be0;
    border-radius: 6px;
    border-collapse: collapse;

    thead {
      background: #2b2b35;
      color: white;
      margin-bottom: 3px;
      border-bottom: 2px solid white;

      th {
        text-align: center;
        font-weight: normal;
        padding: 10px 3px;

        &.bolder {
          font-weight: bold;
        }
      }
    }
    tbody {
      font-size: .95em;
      td {
        cursor: pointer;
        text-align: center;
        border: 1px solid rgba(185, 185, 185, 0.13);
        width: 50%;
        padding: 8px;

        // names of the month on left of calendar
        &.month-name {
          font-weight: bold;
          text-align: center;
          cursor: default;
          border-left: 1px solid black;
        }
        
        // days from previous or next month
        &.next-month,
        &.prev-month {
          color: transparent;
          cursor: default;
          pointer-events: none;
        }

        // blank lines separating weeks
        &.week-separator {
          pointer-events: none;
          padding: 0;
          width: 8px;
          min-width: 0;
        }
  
        // seasons
        &.winter {
          background-color: rgba(159, 220, 249, 0.32);
          &.selected {
            background-color: #42acde;
            font-weight: bold;
          }
        }
        &.spring {
          background-color: rgb(213, 252, 211);
          &.selected {
            background-color: #3bc579;
            font-weight: bold;
          }
        }
        &.summer {
          background-color: rgb(255, 237, 169);
          &.selected {
            background-color: #f5a43f;
            font-weight: bold;
          }
        }
        &.autumn {
          background-color: rgb(255, 186, 183);
          &.selected {
            background-color: #da7470;
          }
        }

        // chains
        &.range,
        &.active-range {
          font-weight: bold;
          color: white;
        }
        &.range-left,
        &.active-range-left {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          overflow: hidden;
          color: white;
          font-weight: bold;
        }
        &.range-right,
        &.active-range-right {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          overflow: hidden;
          color: white;
          font-weight: bold;
        }
        &.range-right,
        &.range-left {
          background: rgba(162, 36, 36, 0.63) !important;
        }
        &.range {
          background-color: #752024;
        }
        &.active-range-left,
        &.active-range-right {
          background: orangered !important;
        }
        &.active-range {
          background-color: rgba(255,69,0, 0.7);
          overflow: hidden;
        }

        // update effects
        &.concat {
          animation: concatGlow 1.3s infinite alternate;
          border: 1px solid rgba(255,255,255,.1);
          overflow: hidden;
        }
        &.create {
          animation: createGlow 1.3s infinite alternate;
        }        

        // special days
        &.holidays {
          font-weight: bold;
          color: red;
          text-decoration: underline;
        }
        &.weekend {
          font-style: italic;
          font-weight: bold;
        }
        &.bolder {
          font-weight: bold;
        }
        
        // today
        &.selected {
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  // interface for selected task
  .interface {
    position: relative;
    height: 175px;
    color: white;
    background: #2b2b35;
    // for removing selected task
    .delete-task {
      position: absolute;
      cursor: pointer;
      right: 0;
      &:hover {
        color: orangered;
      }
    }
    // for chain concatenation/creation
    .update-task {
      cursor: pointer;
      position: absolute;
      right: 45%;
      top: 3px;
      font-size: 14px;
      border-radius: 5px;
      padding: 3px;
      padding-right: 6px;
      padding-left: 6px;
    }
    // "concatenation is unavailable" message
    .come-back-later {
      padding: 5px;
      text-align: center;
      font-size: 12px;
    }
  }
}

/* Animations */
@keyframes concatGlow {
  from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  to {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@keyframes createGlow {
  from {
    background-color: rgb(101, 225, 157);
    box-shadow: 0;
  }
  to {
    background-color: rgb(14, 165, 100);
    box-shadow: inset 0 0 5px black;
  }
}

/*mobile*/
@media screen and (max-width: 1200px) {
  table.calendar {
    width: 100%;
    min-width: 235px;
  }

  table.calendar td {
    width: calc(100% / 7 - 2px * 7 - 4px);
    display: inline-block;
  }

  table.calendar td.week-separator {
    display: none;
  }

  table.calendar td.month-name {
    width: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
    text-align: center;
  }

  table.calendar td.prev-month, table.calendar td.next-month {
    border-color: transparent;
  }

  table.calendar thead {
    display: none;
  }
}