div#table {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;
}

table.calendar {
  border: 3px solid #2a2a2be0;
  border-radius: 6px;
  border-collapse: collapse;
}

table.calendar td.week-separator {
  pointer-events: none;
  padding: 0;
  width: 8px;
  min-width: 0;
}

table.calendar td.winter {
  background-color: rgba(159, 220, 249, 0.32);
}
table.calendar td.spring {
  background-color: rgb(213, 252, 211);
}
table.calendar td.summer {
  background-color: rgb(255, 237, 169);
}
table.calendar td.autumn {
  background-color: rgb(255, 186, 183);
}
table.calendar td.holidays {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
table.calendar td.weekend {
  font-style: italic;
  font-weight: bold;
}

table.calendar td.bolder {
  font-weight: bold;
}

table.calendar td.winter.selected {
  background-color: #42acde;
  font-weight: bold;
}
table.calendar td.spring.selected {
  background-color: #3bc579;
  font-weight: bold;
}
table.calendar td.summer.selected {
  background-color: #f5a43f;
  font-weight: bold;
}
table.calendar td.autumn.selected {
  background-color: #da7470;
}

// ???????
body {
  background-color: white;
  font-family: sans-serif;
}

table.calendar thead {
  background-color: #5A5A5A;
  color: white;
  margin-bottom: 3px;
  border-bottom: 2px solid white
}

table.calendar thead th {
  text-align: center;
  font-weight: normal;
  padding: 10px 3px;
}

table.calendar thead th.bolder {
  font-weight: bold;
}

table.calendar tbody {
  font-size: 0.8em;
}

table.calendar td {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid rgba(185, 185, 185, 0.13);
  width: 50%;
  padding: 8px;
}

table.calendar tr:last-child td {
  border-bottom: none;
}

table.calendar td.month-name {
  font-weight: bold;
  text-align: left;
  cursor: default;
  border-left: none;
}

table.calendar td.prev-month,
table.calendar td.next-month {
  color: transparent;
  cursor: default;
  pointer-events: none;
}

table.calendar td.bolder {
  font-weight: bold;
}

/* Current day */
table.calendar td.selected {
  color: white;
  font-weight: bold;
}

/* Chains */
table.calendar td.range,
table.calendar td.active-range, {
  font-weight: bold;
  color: white;
}
table.calendar td.range-left,
table.calendar td.active-range-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  color: white;
  font-weight: bold;
}
table.calendar td.range-right,
table.calendar td.active-range-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  color: white;
  font-weight: bold;
}

table.calendar td.range-left,
table.calendar td.range-right {
  background: #b93c0dcc !important;
}
table.calendar td.range {
  background-color: rgba(182, 59, 13, 0.7);
}

table.calendar td.active-range-left,
table.calendar td.active-range-right {
  background: orangered !important;
}
table.calendar td.active-range, {
  background-color: rgba(255,69,0, 0.7);
}

// inactive end-color: #b91a16
// inactive middle-color: #810e0b

div.calendar-controls {
  margin: 5px auto;
  display: table;
  font-size: 25px;
  line-height: 35px;
}

div.calendar-controls div {
  display: inline;
}

div.calendar-controls .current-year {
  margin: 0 30px;
}

div.calendar-controls .control {
  font-weight: bolder;
  color: #323232;
  font-size: 0.8em;
  cursor: pointer;
}

div.calendar-controls .today {
  position: absolute;
  right: 15px;
  line-height: 35px;
  font-size: 0.6em;
  text-transform: uppercase;
}

table.calendar td.concat {
  animation: concatGlow 1s infinite alternate;
}

table.calendar td.create {
  z-index: 1;
  animation: createGlow 1.2s infinite alternate;
  &:hover {
    border: 2px solid blue;
  }
}

/* Animations */
@keyframes concatGlow {
  from {
    background-color: #f48f8f;    
  }
  to {
    background-color: #df1b1b;
  }
}
@keyframes createGlow {
  from {
    background-color: rgb(101, 225, 157);
  }
  to {
    background-color: rgb(14, 165, 100);
  }
}