/* Calendar */
div#calendar {
  display: table;
  margin: 0 auto;
  margin-bottom: 20px;

  div.calendar-controls {
    margin: 5px auto;
    display: table;
    font-size: 25px;
    line-height: 35px;

    div {
      display: inline;
    }

    // year displayed in calendar controls
    .current-year {
      margin: 0 30px;
    }

    // buttons for switching year
    .control {
      font-weight: bolder;
      color: #323232;
      font-size: 0.8em;
      cursor: pointer;
    }
  }

  table.calendar {
    border: 3px solid #2a2a2be0;
    border-radius: 6px;
    border-collapse: collapse;

    thead {
      background: #2b2b35;
      color: white;
      margin-bottom: 3px;
      border-bottom: 2px solid white;

      th {
        text-align: center;
        font-weight: normal;
        padding: 10px 3px;

        &.bolder {
          font-weight: bold;
        }
      }
    }
    tbody {
      font-size: .95em;
      td {
        cursor: pointer;
        text-align: center;
        border: 1px solid rgba(185, 185, 185, 0.13);
        width: 50%;
        padding: 8px;

        // names of the month on left of calendar
        &.month-name {
          font-weight: bold;
          text-align: center;
          cursor: default;
          border-left: 1px solid black;
        }
        
        // days from previous or next month
        &.next-month,
        &.prev-month {
          color: transparent;
          cursor: default;
          pointer-events: none;
        }

        // blank lines separating weeks
        &.week-separator {
          pointer-events: none;
          padding: 0;
          width: 8px;
          min-width: 0;
        }
  
        // seasons
        &.winter {
          background-color: rgba(159, 220, 249, 0.32);
          &.selected {
            background-color: #42acde;
            font-weight: bold;
          }
        }
        &.spring {
          background-color: rgb(213, 252, 211);
          &.selected {
            background-color: #3bc579;
            font-weight: bold;
          }
        }
        &.summer {
          background-color: rgb(255, 237, 169);
          &.selected {
            background-color: #f5a43f;
            font-weight: bold;
          }
        }
        &.autumn {
          background-color: rgb(255, 186, 183);
          &.selected {
            background-color: #da7470;
          }
        }

        // chains
        &.range,
        &.active-range {
          font-weight: bold;
          color: white;
        }
        &.range-left,
        &.active-range-left {
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          overflow: hidden;
          color: white;
          font-weight: bold;
        }
        &.range-right,
        &.active-range-right {
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          overflow: hidden;
          color: white;
          font-weight: bold;
        }
        &.range-right,
        &.range-left {
          background: rgba(162, 36, 36, 0.63) !important;
        }
        &.range {
          background-color: #752024;
        }
        &.active-range-left,
        &.active-range-right {
          background: orangered !important;
        }
        &.active-range {
          background-color: rgba(255,69,0, 0.7);
          overflow: hidden;
        }

        // update effects
        &.concat {
          animation: concatGlow 1.3s infinite alternate;
          border: 1px solid rgba(255,255,255,.1);
          overflow: hidden;
        }
        &.create {
          animation: createGlow 1.3s infinite alternate;
        }        

        // special days
        &.holidays {
          font-weight: bold;
          color: red;
          text-decoration: underline;
        }
        &.weekend {
          font-style: italic;
          font-weight: bold;
        }
        &.bolder {
          font-weight: bold;
        }
        
        // today
        &.selected {
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  // interface for selected task
  .interface {
    position: relative;
    height: 62px;
    color: white;
    background: #2b2b35;
    // display for task-related data
    .data-box {
      font-family: Verdana;
      position: absolute;
      font-size: 15px;
      top: 4px;
      left: 7px;
      td {
        padding: 1px 4px;
        border: 1px solid rgba(170, 170, 170, 0.051);
        &:nth-child(odd) {
          font-weight: 550;
        }
      }
    }
    // for removing selected task
    .delete-task {
      position: absolute;
      cursor: pointer;
      right: 16px;
      top: 15px;
      font-size: 27px;
      &:hover {
        color: red;
      }
    }
    // for chain concatenation/creation
    .update-task {
      cursor: pointer;
      position: absolute;
      right: 43.5%;
      top: 3px;
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      background-color: #538fbe;
      padding: 10px 18px;
      font-size: 17px;
      width: 144px;
      border: 1px solid #2d6898;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-shadow: 0px -1px 0px rgba(0,0,0,.5);
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
      -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
      -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
      -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
      box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
      box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
      background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
      background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
      background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
      background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
      background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
      background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0, rgb(73,132,180)),
          color-stop(1, rgb(97,155,203))
      );
      &:hover {
        background-image: linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
        background-image: -o-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(79,142,191) 0%, rgb(102,166,214) 100%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(79,142,191)),
            color-stop(1, rgb(102,166,214))
        );
      }
      &:active {
        box-shadow: 0px 0px 0px #2b638f, 0px 0px 0px rgba(0,0,0,.4);
        -webkit-transform: translate(0, 4px);
        -moz-transform: translate(0, 4px);
        transform: translate(0, 4px);
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background-image: linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
        background-image: -o-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
        background-image: -moz-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
        background-image: -webkit-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
        background-image: -ms-linear-gradient(bottom, rgb(88,154,204) 0%, rgb(90,150,199) 100%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(88,154,204)),
            color-stop(1, rgb(90,150,199))
        );
      }
      &.inactive {
        $inactive1: #7d8994;
        $inactive2: #585f65;
        cursor: not-allowed;
        text-shadow: none;
        box-shadow: none;
        border: none;
        background-color: #808080 !important;
        color: #d4d4d4a3;
        -webkit-transform: translate(0, 4px);
        -moz-transform: translate(0, 4px);
        transform: translate(0, 4px);
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        background-image: linear-gradient(bottom, $inactive1 0%, $inactive2 100%);
        background-image: -o-linear-gradient(bottom, $inactive1 0%, $inactive2 100%);
        background-image: -moz-linear-gradient(bottom, $inactive1 0%, $inactive2 100%);
        background-image: -webkit-linear-gradient(bottom, $inactive1 0%, $inactive2 100%);
        background-image: -ms-linear-gradient(bottom, $inactive1 0%, $inactive2 100%);
        background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, $inactive1),
            color-stop(1, $inactive2)
        );
      }
    }
  }
}

/* Animations */
@keyframes concatGlow {
  from {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  to {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
@keyframes createGlow {
  from {
    background-color: rgb(101, 225, 157);
    box-shadow: 0;
  }
  to {
    background-color: rgb(14, 165, 100);
    box-shadow: inset 0 0 5px black;
  }
}

/*mobile*/
@media screen and (max-width: 1200px) {
  table.calendar {
    width: 100%;
    min-width: 235px;
  }

  table.calendar td {
    width: calc(100% / 7 - 2px * 7 - 4px);
    display: inline-block;
  }

  table.calendar td.week-separator {
    display: none;
  }

  table.calendar td.month-name {
    width: 100%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABZJREFUCB1jYEADmzdv/o8iRA0BoIEAKngPeSAlnXcAAAAASUVORK5CYII=');
    text-align: center;
  }

  table.calendar td.prev-month, table.calendar td.next-month {
    border-color: transparent;
  }

  table.calendar thead {
    display: none;
  }
  .data-box {
    display: none;
  }
  .update-task {
    right: 36.5% !important;
  }
}


// FOR: CHANGING COLOR OF PATCH BUTTON - INCOMPLETE
// create
// border: #1d8f36
// $bluegreen: #49b46a;
// $green: #389e31
// -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
// -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
// -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
// -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
// box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4);
// box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
// background-image: linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
// background-image: -o-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
// background-image: -moz-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
// background-image: -webkit-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
// background-image: -ms-linear-gradient(bottom, rgb(73,132,180) 0%, rgb(97,155,203) 100%);
// background-image: -webkit-gradient(
//     linear,
//     left bottom,
//     left top,
//     color-stop(0, rgb(73,132,180)),
//     color-stop(1, rgb(97,155,203))
// );
// &.concat-patch {
  
// }
// &.create-patch {
//   $bluegreen: #49b46a;
//   $green: #389e31;
//   $boxshadowgreen: #16662f;
//   background-color: darkgreen;
//   border: 1px solid #1d8f36;
//   -webkit-box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4);
//   -webkit-box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
//   -moz-box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4);
//   -moz-box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
//   box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4);
//   box-shadow: 0px 6px 0px $boxshadowgreen, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
//   background-image: linear-gradient(bottom, $green 0%, $bluegreen 100%);
//   background-image: -o-linear-gradient(bottom, $green 0%, $bluegreen 100%);
//   background-image: -moz-linear-gradient(bottom, $green 0%, $bluegreen 100%);
//   background-image: -webkit-linear-gradient(bottom, $green 0%, $bluegreen 100%);
//   background-image: -ms-linear-gradient(bottom, $green 0%, $bluegreen 100%);
//   background-image: -webkit-gradient(
//     linear,
//     left bottom,
//     left top,
//     color-stop(0, $green),
//     color-stop(1, $bluegreen)
//   );
// }