.task-nav {
  width: 226px;
  position: fixed;
  z-index: 1;
  top: 116px;
  left: 10px;
  background: #eee;
  padding: 12px;

  .task-name-input {
    margin-right: 2px;
    margin-bottom: 13px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 1px;
    text-align: center;
  }

  .task-name-submit {
    cursor: pointer;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 7px;
  }

  .task-link-container {
    background: #dee3e0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 568px;
    padding-left: 12px;
  }

  .task-link {
    cursor: pointer;
    margin: 6px 0;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #2196F3;
    display: block;

    &:hover {
      color: #064579;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.selected-task-container {
  background: yellow;
  width: 106%;
  margin-left: 7.5%;
  margin-top: 2%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}