// left-hand task nav
.task-nav {
  width: 226px;
  position: fixed;
  z-index: 1;
  top: 116px;
  left: 10px;
  background: #eee;
  padding: 12px;

  // input for new task
  .task-name-input {
    margin-right: 2px;
    margin-bottom: 13px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 1px;
    text-align: center;
  }

  // submit button for new task
  .task-name-submit {
    cursor: pointer;
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 7px;
  }

  // container for links for each task
  .task-link-container {
    background: #dee3e0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 568px;
    padding-left: 12px;
  }

  // link for each task
  .task-link {
    cursor: pointer;
    margin: 6px 0;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #2196F3;
    display: block;

    &:hover {
      color: #064579;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

// container for selected task
.selected-task-container {
  width: 106%;
  margin-left: 7.5%;
  margin-top: 2%;
  padding: 10px;

  .task-header {}

  // chain-links
  .link {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 1px;
    border: 1px solid rgba(0,0,0, .2);
    font-size: 12px;

    &-regular {
      background: white;
    }

    &-start, &-regular {
      background: #f0ad4e;
      &:hover {
        background: #ffeb3b;
      }
    }

    &-end {
      background: #5bc0de;
      &:hover {
        background: #5dd1f3;
      }
    }

    &-terminal {
      background: red;
    }
  }

  .come-back-later {
    text-align: center;
    font-size: 12px;
  }

  .update-task,
  .delete-task {
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .update-task {
    margin-right: 8px;
  }
}

// misc.
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}