// left-hand task nav
.task-nav {
  width: 226px;
  display: inline-block;
  background: #eee;
  padding: 12px;


  // container for links for each task
  .task-link-container {
    background: #dee3e0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 568px;
    padding-left: 12px;
  }

  // link for each task
  .task-link {
    cursor: pointer;
    margin: 6px 0;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #2196F3;
    display: block;

    &:hover {
      color: #064579;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.create-task-container {
  margin: 0px auto;
  margin-top: 31px;
  margin-bottom: 23px;
  width: 306px;
}

// input for new task
.task-name-input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1px;
  text-align: center;
  border-radius: 20px;
  font-size: 25px;
}

// submit button for new task
.task-name-submit {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  font-size: 21px;
  position: relative;
  top: -2px;
  right: -2px;
  width: 32px;
}

.task-banner {
  display: none;
  text-align: center;
  padding: 10px;
}

// container for selected task
.selected-task-container {
  margin-top: 2%;
  padding: 10px;
  display: inline-block;

  // chain-links
  .link {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 1px;
    border: 1px solid rgba(0,0,0, .2);
    font-size: 12px;

    &-regular {
      background: white;
    }

    &-start, &-regular {
      background: #f0ad4e;
      &:hover {
        background: #ffeb3b;
      }
    }

    &-end {
      background: #5bc0de;
      &:hover {
        background: #5dd1f3;
      }
    }

    &-terminal {
      background: red;
    }
  }

  .come-back-later {
    text-align: center;
    font-size: 12px;
  }

  .update-task,
  .delete-task {
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  .update-task {
    margin-right: 8px;
  }
}

// misc.
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}