.Flash.success {
  background-color: rgb(139, 247, 139);
}

.Flash.warn {
  background-color: rgb(245, 237, 124);
}

.Flash.error {
  background-color: rgb(244, 107, 107);
}

.Flash {
  color: rgb(12, 13, 38);
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.3rem;
  text-align: center;
  width: 13.5rem;
  border-radius: 0.13rem;
  padding: 0.3rem;
  font-size: 1rem;
  animation-duration: 3s;
  animation-name: show-hide;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes show-hide {
  0% { transform: translate(13.5rem); }
  20% { transform: translate(-0rem); }
  30% { opacity: 1; }
  100% { opacity: 0; }
}