.Flash.success {
  background-color: lightgreen;
}

.Flash.warn {
  background-color: lightsalmon;
}

.Flash.error {
  background-color: lightcoral;
}

.Flash {
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.3rem;
  text-align: center;
  width: 13.5rem;
  border-radius: 0.13rem;
  padding: 0.3rem;
  font-size: 1rem;
  animation-duration: 3s;
  animation-name: show-hide;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes show-hide {
  0% { transform: translate(13.5rem); }
  20% { transform: translate(-0rem); }
  30% { opacity: 1; }
  100% { opacity: 0; }
}